.idea/
.vscode/
bin/
*.iml
out/
gen/
idea-gitignore.jar
resources/templates.list
resources/gitignore/*
build/
.cxx/
build.properties
junit*.properties
IgnoreLexer.java~
.gradle
.DS_Store
local.properties

/verification

**/build/
/idea/src/test/assets/android/MyApplicationIntellij/.idea/
/main/src/main/resources/gradle/
/main/src/test/java/local
/idea/src/test/java/local
/cmd_line/src/test/java/local
/idea/src/main/resources/META-INF/JUGG_PLUGIN_INFO.MF
/idea/src/main/resources/change_log/

/custom_compilers/src/custom

WARP.md
findings.md
progress.md
task_plan.md
jugg-mcp-test-result.md
.codex